# PNPM configuration for EAS Build
node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*@react-native*
shamefully-hoist=true

# Increase memory limits
max-old-space-size=4096
